.add-comment {
    padding: 0 20px;
}

.comment-title {
    padding-left: 20px;
}

.SinglePost .doctor-img{
    margin-right: 20px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 990px) {
    .SinglePost .doctor-img {
        float: none;
    }
}