.wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
}
.user-avatar {
    max-width: 300px;
    margin-bottom: 15px;
}
.user-avatar img {
    display: block;
    width: 100%;
    height: auto;
}
.react-datepicker-wrapper {
    display: block;
}

.react-datepicker__input-container {
    display: block;
}



