.doctor_record_root_title {
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.doctor_record_root_date_subTitle {
    display: inline-block;
    margin-left: 15px;
}
.react-calendar {
    margin: 20px auto;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.54);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.54);
    border-radius: 6px;
    border: none;
}

.react-calendar__navigation,
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus,
.react-calendar__navigation button[disabled]{
    background-color: #090845;
    border-radius: 6px;
    min-height: 40px;
}

.react-calendar__navigation__arrow,
.react-calendar__navigation__label {
    color: white;
}

.react-calendar__tile--active {
    border-radius: 3px;
}
.doctor_record_root_date_title {
    /*text-align: center;*/
    font-size: 18px;
}
.time_button {
    margin: 4px;
}

.react-calendar__navigation, .react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus, .react-calendar__navigation button[disabled] {
    background-color: #28a745;
    border-radius: 6px;
    min-height: 40px;
}

.react-calendar__tile--active {
    background: #28a745;
    color: white;
}

.react-calendar__tile--active:hover {
    color: #fff;
    background-color: green;
    outline: 0 !important;
}

.Booking_time_button {
     color: #fff;
     background-color: #28a745;
     box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
     cursor: pointer;
     display: inline-block;
     border: 1px solid #28a745;
     padding: 8px;
     font-size: 16px;
     border-radius: 10px;
     margin-right: 8px;
     margin-top: 8px;
 }

.Booking_time_button:hover {
    color: #fff;
    background-color: green;
    outline: 0 !important;
}

.Booking_send_button_root {
    margin-top: 25px;
}
.Booking_textArea {
    margin: 20px 0;
}
textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 100%;
    height: 475px;
    padding: 20px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-size: 1em;
    line-height: 1.4em;
    transition: background-color 0.2s ease 0s;
    resize: none;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
.doctor_record_datepicker {
    max-width: 350px;
    margin: 0 auto;
}
.Patient{
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 15px 0;
    padding: 10px;
}