header .navBar {
    color: #009b5c;
    padding: 10px 20px;
    background-color: #009b5c;
}
.Notification{
    position: absolute;
    top: -4px;
    right: 65%;
}
.logo {
    width: 40px;
    height: 40px;
}
.nav-toolbar {
    margin-left: auto;
}

@media only screen and (max-width: 800px) {
    .nav-toolbar {
        margin-left: 0;
    }
    header .navBar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
