footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #009b5c!important;
    color: white;
    margin-top: 20vh;
    text-align: center;
}

footer .footer_mainPage {
    padding-top: 30px;
    text-decoration: none;
}

footer .Tel {
    text-decoration: none;
    color: white;
}

footer .mailclick {
    text-decoration: none;
    color: white;
}