.reviews {
    padding: 30px;
    margin-top: 30px;
}

.card-subtitle::before {
    content: "";
    margin: auto 15px -15px 15px;
    display: inline-block;
    background: #28a745 url(../../assets/images/ic-plane.png) no-repeat 50% 50%;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.textarea {
    margin-left: 10px;
}

.doctor-img {
    float: left;
    height: 100%;
    width: 250px;
}

.doctor-img img {
    border-radius: 7px 0 0 7px;
}

.doctor-info {
    float: left;
    height: auto;
    min-width: 100%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.doctor-info h1 {
    margin: 0 0 0 38px;
    padding-top: 0;
    font-size: 34px;
    color: #474747;
}

.doctor-info h1,
.doctor-info p {
    font-family: 'Bentham', serif;
}

.doctor-text h2 {
    margin: 0 0 35px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.doctor-text p {
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.doctor-price-btn {
    height: 40px;
    width: 400px;
    margin-top: 17px;
    position: relative;
}

.doctor-price-btn p {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 25px;
    font-weight: lighter;
    color: #474747;
}

.doctor-price_price {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 25px;
    margin-left: 5px;
}

.doctor-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 0 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #009b5c;
    cursor: pointer;
    outline: none;
}

.doctor-price-btn button:hover {
    background-color: #79b0a1;
}
.record_navlink{
    color: #ffff;
    text-decoration: none;
}
.record_navlink:hover {
    color: #ffffff;
}
.check-input{
    margin-left: 0.50rem!important;
}